# Curso rápido completo de Pandas - Parte 1
- Curso rápido referente ao primeiro vídeo de pandas: 
    - Link 1ª parte: https://www.youtube.com/watch?v=6vpDSD1wchA
    - Link 2ª parte: https://www.youtube.com/watch?v=bc3WJ8up8w4

## 1. carregando as informações

In [1]:
# importando as bibliotecas
import pandas as pd

In [2]:
# carregando os dados
fifa = pd.read_csv('C:\\Users\\gusta\\Desktop\\fifa19.csv', sep=',')
fifa.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [3]:
# verificando as ultimas linhas
fifa.tail()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
18202,18202,238813,J. Lundstram,19,https://cdn.sofifa.org/players/4/19/238813.png,England,https://cdn.sofifa.org/flags/14.png,47,65,Crewe Alexandra,...,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0,€143K
18203,18203,243165,N. Christoffersson,19,https://cdn.sofifa.org/players/4/19/243165.png,Sweden,https://cdn.sofifa.org/flags/46.png,47,63,Trelleborgs FF,...,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0,€113K
18204,18204,241638,B. Worman,16,https://cdn.sofifa.org/players/4/19/241638.png,England,https://cdn.sofifa.org/flags/14.png,47,67,Cambridge United,...,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K
18205,18205,246268,D. Walker-Rice,17,https://cdn.sofifa.org/players/4/19/246268.png,England,https://cdn.sofifa.org/flags/14.png,47,66,Tranmere Rovers,...,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K
18206,18206,246269,G. Nugent,16,https://cdn.sofifa.org/players/4/19/246269.png,England,https://cdn.sofifa.org/flags/14.png,46,66,Tranmere Rovers,...,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K

## 2. Informações do dataset

In [4]:
# analisando a tipagem dos dados
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                18207 non-null  int64
 1   ID                        18207 non-null  int64
 2   Name                      18207 non-null  object
 3   Age                       18207 non-null  int64
 4   Photo                     18207 non-null  object
 5   Nationality               18207 non-null  object
 6   Flag                      18207 non-null  object
 7   Overall                   18207 non-null  int64
 8   Potential                 18207 non-null  int64
 9   Club                      17966 non-null  object
 10  Club Logo                 18207 non-null  object
 11  Value                     18207 non-null  object
 12  Wage                      18207 non-null  object
 13  Special                   18207 non-null  int64
 14  Preferred Foot            18159 non-null  object
 15  International Reputation  18159 non-null  float64
 16  Weak Foot                 18159 non-null  float64
 17  Skill Moves               18159 non-null  float64
 18  Work Rate                 18159 non-null  object
 19  Body Type                 18159 non-null  object
 20  Real Face                 18159 non-null  object
 21  Position                  18147 non-null  object
 22  Jersey Number             18147 non-null  float64
 23  Joined                    16654 non-null  object
 24  Loaned From               1264 non-null   object
 25  Contract Valid Until      17918 non-null  object
 26  Height                    18159 non-null  object
 27  Weight                    18159 non-null  object
 28  LS                        16122 non-null  object
 29  ST                        16122 non-null  object
 30  RS                        16122 non-null  object
 31  LW                        16122 non-null  object
 32  LF                        16122 non-null  object
 33  CF                        16122 non-null  object
 34  RF                        16122 non-null  object
 35  RW                        16122 non-null  object
 36  LAM                       16122 non-null  object
 37  CAM                       16122 non-null  object
 38  RAM                       16122 non-null  object
 39  LM                        16122 non-null  object
 40  LCM                       16122 non-null  object
 41  CM                        16122 non-null  object
 42  RCM                       16122 non-null  object
 43  RM                        16122 non-null  object
 44  LWB                       16122 non-null  object
 45  LDM                       16122 non-null  object
 46  CDM                       16122 non-null  object
 47  RDM                       16122 non-null  object
 48  RWB                       16122 non-null  object
 49  LB                        16122 non-null  object
 50  LCB                       16122 non-null  object
 51  CB                        16122 non-null  object
 52  RCB                       16122 non-null  object
 53  RB                        16122 non-null  object
 54  Crossing                  18159 non-null  float64
 55  Finishing                 18159 non-null  float64
 56  HeadingAccuracy           18159 non-null  float64
 57  ShortPassing              18159 non-null  float64
 58  Volleys                   18159 non-null  float64
 59  Dribbling                 18159 non-null  float64
 60  Curve                     18159 non-null  float64
 61  FKAccuracy                18159 non-null  float64
 62  LongPassing               18159 non-null  float64
 63  BallControl               18159 non-null  float64
 64  Acceleration              18159 non-null  float64
 65  SprintSpeed               18159 non-null  float64
 66  Agility                   18159 non-null  float64
 67  Reactions                 18159 non-null  float64
 68  Balance                   18159 non-null  float64
 69  ShotPower                 18159 non-null  float64
 70  Jumping                   18159 non-null  float64
 71  Stamina                   18159 non-null  float64
 72  Strength                  18159 non-null  float64
 73  LongShots                 18159 non-null  float64
 74  Aggression                18159 non-null  float64
 75  Interceptions             18159 non-null  float64
 76  Positioning               18159 non-null  float64
 77  Vision                    18159 non-null  float64
 78  Penalties                 18159 non-null  float64
 79  Composure                 18159 non-null  float64
 80  Marking                   18159 non-null  float64
 81  StandingTackle            18159 non-null  float64
 82  SlidingTackle             18159 non-null  float64
 83  GKDiving                  18159 non-null  float64
 84  GKHandling                18159 non-null  float64
 85  GKKicking                 18159 non-null  float64
 86  GKPositioning             18159 non-null  float64
 87  GKReflexes                18159 non-null  float64
 88  Release Clause            16643 non-null  object
dtypes: float64(38), int64(6), object(45)
memory usage: 12.4+ MB

In [5]:
# quantas linhas e colunas tem o dataset?
print('Temos %0.f linhas e %0.f colunas no dataset' %(fifa.shape[0], fifa.shape[1]))

Temos 18207 linhas e 89 colunas no dataset

In [6]:
# quais a lista de colunas do df?
fifa.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [7]:
# exibir varios outputs 
display(fifa.head())
display(fifa.tail())

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
18202,18202,238813,J. Lundstram,19,https://cdn.sofifa.org/players/4/19/238813.png,England,https://cdn.sofifa.org/flags/14.png,47,65,Crewe Alexandra,...,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0,€143K
18203,18203,243165,N. Christoffersson,19,https://cdn.sofifa.org/players/4/19/243165.png,Sweden,https://cdn.sofifa.org/flags/46.png,47,63,Trelleborgs FF,...,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0,€113K
18204,18204,241638,B. Worman,16,https://cdn.sofifa.org/players/4/19/241638.png,England,https://cdn.sofifa.org/flags/14.png,47,67,Cambridge United,...,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K
18205,18205,246268,D. Walker-Rice,17,https://cdn.sofifa.org/players/4/19/246268.png,England,https://cdn.sofifa.org/flags/14.png,47,66,Tranmere Rovers,...,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K
18206,18206,246269,G. Nugent,16,https://cdn.sofifa.org/players/4/19/246269.png,England,https://cdn.sofifa.org/flags/14.png,46,66,Tranmere Rovers,...,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K

In [8]:
# personalizado o dataset
pd.set_option('max_colwidth', 15)

#pd.set_option('max_rows', 100)
#pd.set_option('max_columns', 60)

pd.get_option('max_colwidth')
fifa.head(50)

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn...,Argentina,https://cdn...,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano R...,33,https://cdn...,Portugal,https://cdn...,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn...,Brazil,https://cdn...,92,93,Paris Saint...,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn...,Spain,https://cdn...,91,93,Manchester ...,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn...,Belgium,https://cdn...,91,92,Manchester ...,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
5,5,183277,E. Hazard,27,https://cdn...,Belgium,https://cdn...,91,91,Chelsea,...,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M
6,6,177003,L. Modrić,32,https://cdn...,Croatia,https://cdn...,91,91,Real Madrid,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M
7,7,176580,L. Suárez,31,https://cdn...,Uruguay,https://cdn...,91,91,FC Barcelona,...,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M
8,8,155862,Sergio Ramos,32,https://cdn...,Spain,https://cdn...,91,91,Real Madrid,...,82.0,87.0,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M
9,9,200389,J. Oblak,25,https://cdn...,Slovenia,https://cdn...,90,93,Atlético Ma...,...,70.0,27.0,12.0,18.0,86.0,92.0,78.0,88.0,89.0,€144.5M
10,10,188545,R. Lewandowski,29,https://cdn...,Poland,https://cdn...,90,90,FC Bayern M...,...,86.0,34.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0,€127.1M
11,11,182521,T. Kroos,28,https://cdn...,Germany,https://cdn...,90,90,Real Madrid,...,85.0,72.0,79.0,69.0,10.0,11.0,13.0,7.0,10.0,€156.8M
12,12,182493,D. Godín,32,https://cdn...,Uruguay,https://cdn...,90,90,Atlético Ma...,...,82.0,90.0,89.0,89.0,6.0,8.0,15.0,5.0,15.0,€90.2M
13,13,168542,David Silva,32,https://cdn...,Spain,https://cdn...,90,90,Manchester ...,...,93.0,59.0,53.0,29.0,6.0,15.0,7.0,6.0,12.0,€111M
14,14,215914,N. Kanté,27,https://cdn...,France,https://cdn...,89,90,Chelsea,...,85.0,90.0,91.0,85.0,15.0,12.0,10.0,7.0,10.0,€121.3M
15,15,211110,P. Dybala,24,https://cdn...,Argentina,https://cdn...,89,94,Juventus,...,84.0,23.0,20.0,20.0,5.0,4.0,4.0,5.0,8.0,€153.5M
16,16,202126,H. Kane,24,https://cdn...,England,https://cdn...,89,91,Tottenham H...,...,89.0,56.0,36.0,38.0,8.0,10.0,11.0,14.0,11.0,€160.7M
17,17,194765,A. Griezmann,27,https://cdn...,France,https://cdn...,89,90,Atlético Ma...,...,87.0,59.0,47.0,48.0,14.0,8.0,14.0,13.0,14.0,€165.8M
18,18,192448,M. ter Stegen,26,https://cdn...,Germany,https://cdn...,89,92,FC Barcelona,...,69.0,25.0,13.0,10.0,87.0,85.0,88.0,85.0,90.0,€123.3M
19,19,192119,T. Courtois,26,https://cdn...,Belgium,https://cdn...,89,90,Real Madrid,...,66.0,20.0,18.0,16.0,85.0,91.0,72.0,86.0,88.0,€113.7M
20,20,189511,Sergio Busq...,29,https://cdn...,Spain,https://cdn...,89,89,FC Barcelona,...,90.0,90.0,86.0,80.0,5.0,8.0,13.0,9.0,13.0,€105.6M
21,21,179813,E. Cavani,31,https://cdn...,Uruguay,https://cdn...,89,89,Paris Saint...,...,82.0,52.0,45.0,39.0,12.0,5.0,13.0,13.0,10.0,€111M
22,22,167495,M. Neuer,32,https://cdn...,Germany,https://cdn...,89,89,FC Bayern M...,...,70.0,17.0,10.0,11.0,90.0,86.0,91.0,87.0,87.0,€62.7M
23,23,153079,S. Agüero,30,https://cdn...,Argentina,https://cdn...,89,89,Manchester ...,...,90.0,30.0,20.0,12.0,13.0,15.0,6.0,11.0,14.0,€119.3M
24,24,138956,G. Chiellini,33,https://cdn...,Italy,https://cdn...,89,89,Juventus,...,84.0,93.0,93.0,90.0,3.0,3.0,2.0,4.0,3.0,€44.6M
25,25,231747,K. Mbappé,19,https://cdn...,France,https://cdn...,88,95,Paris Saint...,...,86.0,34.0,34.0,32.0,13.0,5.0,7.0,11.0,6.0,€166.1M
26,26,209331,M. Salah,26,https://cdn...,Egypt,https://cdn...,88,89,Liverpool,...,91.0,38.0,43.0,41.0,14.0,14.0,9.0,11.0,14.0,€137.3M
27,27,200145,Casemiro,26,https://cdn...,Brazil,https://cdn...,88,90,Real Madrid,...,84.0,88.0,90.0,87.0,13.0,14.0,16.0,12.0,12.0,€126.4M
28,28,198710,J. Rodríguez,26,https://cdn...,Colombia,https://cdn...,88,89,FC Bayern M...,...,87.0,52.0,41.0,44.0,15.0,15.0,15.0,5.0,14.0,NaN
29,29,198219,L. Insigne,27,https://cdn...,Italy,https://cdn...,88,88,Napoli,...,83.0,51.0,24.0,22.0,8.0,4.0,14.0,9.0,10.0,€105.4M
30,30,197781,Isco,26,https://cdn...,Spain,https://cdn...,88,91,Real Madrid,...,86.0,60.0,64.0,51.0,10.0,8.0,12.0,15.0,6.0,€156.2M
31,31,190460,C. Eriksen,26,https://cdn...,Denmark,https://cdn...,88,91,Tottenham H...,...,88.0,59.0,57.0,22.0,9.0,14.0,7.0,7.0,6.0,€141.5M
32,32,189242,Coutinho,26,https://cdn...,Brazil,https://cdn...,88,89,FC Barcelona,...,85.0,55.0,54.0,47.0,12.0,7.0,9.0,14.0,6.0,€147.7M
33,33,188567,P. Aubameyang,29,https://cdn...,Gabon,https://cdn...,88,88,Arsenal,...,86.0,27.0,25.0,36.0,6.0,9.0,15.0,9.0,9.0,€112.1M
34,34,178603,M. Hummels,29,https://cdn...,Germany,https://cdn...,88,88,FC Bayern M...,...,91.0,88.0,90.0,88.0,15.0,6.0,10.0,5.0,6.0,€75.9M
35,35,176676,Marcelo,30,https://cdn...,Brazil,https://cdn...,88,88,Real Madrid,...,86.0,71.0,85.0,86.0,12.0,5.0,5.0,5.0,9.0,€88.2M
36,36,173731,G. Bale,28,https://cdn...,Wales,https://cdn...,88,88,Real Madrid,...,86.0,54.0,55.0,52.0,15.0,15.0,11.0,5.0,6.0,€123M
37,37,167948,H. Lloris,31,https://cdn...,France,https://cdn...,88,88,Tottenham H...,...,65.0,29.0,10.0,18.0,88.0,84.0,68.0,83.0,92.0,€66.6M
38,38,167664,G. Higuaín,30,https://cdn...,Argentina,https://cdn...,88,88,Milan,...,86.0,35.0,22.0,18.0,5.0,12.0,7.0,5.0,10.0,NaN
39,39,164240,Thiago Silva,33,https://cdn...,Brazil,https://cdn...,88,88,Paris Saint...,...,81.0,88.0,89.0,85.0,9.0,12.0,5.0,9.0,10.0,€44.4M
40,40,162835,S. Handanovič,33,https://cdn...,Slovenia,https://cdn...,88,88,Inter,...,69.0,25.0,10.0,13.0,87.0,86.0,69.0,89.0,89.0,€51M
41,41,1179,G. Buffon,40,https://cdn...,Italy,https://cdn...,88,88,Paris Saint...,...,70.0,13.0,11.0,11.0,88.0,87.0,74.0,90.0,83.0,€7.4M
42,42,205600,S. Umtiti,24,https://cdn...,France,https://cdn...,87,92,FC Barcelona,...,82.0,90.0,89.0,86.0,15.0,10.0,14.0,12.0,15.0,€121.1M
43,43,201399,M. Icardi,25,https://cdn...,Argentina,https://cdn...,87,90,Inter,...,85.0,45.0,24.0,20.0,13.0,9.0,5.0,7.0,9.0,€114.5M
44,44,201024,K. Koulibaly,27,https://cdn...,Senegal,https://cdn...,87,90,Napoli,...,78.0,91.0,88.0,86.0,7.0,11.0,7.0,13.0,5.0,€90.5M
45,45,195864,P. Pogba,25,https://cdn...,France,https://cdn...,87,91,Manchester ...,...,87.0,66.0,70.0,68.0,5.0,6.0,2.0,4.0,3.0,€123.2M
46,46,193041,K. Navas,31,https://cdn...,Costa Rica,https://cdn...,87,87,Real Madrid,...,67.0,28.0,14.0,14.0,90.0,81.0,75.0,82.0,90.0,€62.5M
47,47,192505,R. Lukaku,25,https://cdn...,Belgium,https://cdn...,87,89,Manchester ...,...,83.0,30.0,30.0,30.0,8.0,15.0,14.0,7.0,10.0,€120.3M
48,48,192387,C. Immobile,28,https://cdn...,Italy,https://cdn...,87,87,Lazio,...,81.0,34.0,33.0,32.0,6.0,8.0,15.0,12.0,6.0,€88.4M
49,49,189332,Jordi Alba,29,https://cdn...,Spain,https://cdn...,87,87,FC Barcelona,...,79.0,72.0,84.0,85.0,13.0,15.0,13.0,6.0,13.0,€77.9M

In [9]:
# colorindo colunas especificas
def low_values_red(value):
    color = 'red' if value < 92 else 'black'
    return 'color: %s' %color

fifa[['Overall', 'Potential']].head(10).style.applymap(low_values_red)

O código abaixo utiliza .style e .applymap para executar em todos os valores, é o mesmo que a formatação condicional no excel para cor na fonte

In [10]:
# aplicando a formatação do df 
fifa.head(10).style.applymap(low_values_red, subset=['Overall', 'Potential'])

## 3. Filtros e seleções
- https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79
- https://www.geeksforgeeks.org/difference-between-loc-and-iloc-in-pandas-dataframe/ 
- https://medium.com/horadecodar/como-usar-o-query-do-pandas-fdf4a00727dc
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html?highlight=query#pandas.DataFrame.query (o parâmetro "expr" explica o método query com o @ )

In [11]:
fifa.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn...,Argentina,https://cdn...,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano R...,33,https://cdn...,Portugal,https://cdn...,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn...,Brazil,https://cdn...,92,93,Paris Saint...,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn...,Spain,https://cdn...,91,93,Manchester ...,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn...,Belgium,https://cdn...,91,92,Manchester ...,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [12]:
fifa.tail()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
18202,18202,238813,J. Lundstram,19,https://cdn...,England,https://cdn...,47,65,Crewe Alexa...,...,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0,€143K
18203,18203,243165,N. Christof...,19,https://cdn...,Sweden,https://cdn...,47,63,Trelleborgs FF,...,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0,€113K
18204,18204,241638,B. Worman,16,https://cdn...,England,https://cdn...,47,67,Cambridge U...,...,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K
18205,18205,246268,D. Walker-Rice,17,https://cdn...,England,https://cdn...,47,66,Tranmere Ro...,...,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K
18206,18206,246269,G. Nugent,16,https://cdn...,England,https://cdn...,46,66,Tranmere Ro...,...,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K

In [13]:
# filtragem básica [linha:coluna]
fifa[1:5]

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
1,1,20801,Cristiano R...,33,https://cdn...,Portugal,https://cdn...,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn...,Brazil,https://cdn...,92,93,Paris Saint...,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn...,Spain,https://cdn...,91,93,Manchester ...,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn...,Belgium,https://cdn...,91,92,Manchester ...,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [14]:
# filtrando reputação internacional e overall
fifa.loc[(fifa['International Reputation'] > 4 ) & (fifa['Overall'] > 90)]

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn...,Argentina,https://cdn...,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano R...,33,https://cdn...,Portugal,https://cdn...,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn...,Brazil,https://cdn...,92,93,Paris Saint...,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
7,7,176580,L. Suárez,31,https://cdn...,Uruguay,https://cdn...,91,91,FC Barcelona,...,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M

In [15]:
# filtragem básica com filtragem query
mediana_overall = fifa['Overall'].median()
print(mediana_overall) ## mediana == 66
fifa.query("Overall > @mediana_overall")

66.0

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn...,Argentina,https://cdn...,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano R...,33,https://cdn...,Portugal,https://cdn...,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn...,Brazil,https://cdn...,92,93,Paris Saint...,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn...,Spain,https://cdn...,91,93,Manchester ...,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn...,Belgium,https://cdn...,91,92,Manchester ...,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8759,8759,224509,U. Rivas,22,https://cdn...,Mexico,https://cdn...,67,73,Santos Laguna,...,60.0,57.0,66.0,61.0,6.0,15.0,14.0,8.0,13.0,€2M
8760,8760,214014,C. Lizarazo,27,https://cdn...,Colombia,https://cdn...,67,67,América de ...,...,63.0,54.0,40.0,28.0,12.0,11.0,13.0,8.0,7.0,€1.1M
8761,8761,104702,D. Braaten,36,https://cdn...,Norway,https://cdn...,67,67,SK Brann,...,78.0,45.0,54.0,55.0,9.0,15.0,7.0,8.0,16.0,€325K
8762,8762,229631,Lazo,22,https://cdn...,Spain,https://cdn...,67,75,CD Lugo,...,45.0,45.0,33.0,31.0,11.0,7.0,9.0,11.0,6.0,NaN
8763,8763,246015,L. Mago,23,https://cdn...,Venezuela,https://cdn...,67,73,NaN,...,52.0,66.0,68.0,67.0,12.0,14.0,9.0,8.0,12.0,NaN

### 3.1 Filtragem por LOC

- fifa.loc[5:, 'Age'] → (5ª linha em diante)
- fifa.loc[:5, 'Age'] → (até a 6ª linha)
- fifa.loc[5, 'Age'] → (somente a 6ª linha)

In [16]:
# filtragem com loc (linha x até linha y)
fifa.loc[0:1]

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn...,Argentina,https://cdn...,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano R...,33,https://cdn...,Portugal,https://cdn...,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M

In [17]:
# utilizamos o loc quando desejamos filtrar pelo nome da coluna
fifa.loc[0:5, 'Age']

0    31
1    33
2    26
3    27
4    27
5    27
Name: Age, dtype: int64

In [18]:
# filtragem de jogadores promissores abaixo dos 20 anos (no sql é mais fácil kkk)
fifa.loc[(fifa['Age'] < 20) & (fifa['Nationality'] == 'Brazil')]

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
1143,1143,238794,Vinícius Jú...,17,https://cdn...,Brazil,https://cdn...,77,92,Real Madrid,...,75.0,32.0,25.0,18.0,5.0,7.0,7.0,7.0,10.0,€46.8M
4229,4229,239953,Léo Jabá,19,https://cdn...,Brazil,https://cdn...,71,82,PAOK,...,62.0,33.0,20.0,18.0,12.0,7.0,11.0,14.0,12.0,€9.1M
4272,4272,239970,Paulinho,17,https://cdn...,Brazil,https://cdn...,71,86,Bayer 04 Le...,...,70.0,24.0,37.0,31.0,13.0,13.0,10.0,15.0,12.0,€10.9M
5124,5124,241509,Mauro Júnior,19,https://cdn...,Brazil,https://cdn...,70,82,PSV,...,64.0,48.0,45.0,38.0,7.0,14.0,6.0,13.0,8.0,€4.9M
5170,5170,240243,Matheus Cunha,19,https://cdn...,Brazil,https://cdn...,70,85,RB Leipzig,...,64.0,30.0,14.0,24.0,8.0,7.0,13.0,13.0,11.0,€8.9M
5205,5205,234112,Dodô,19,https://cdn...,Brazil,https://cdn...,70,83,Vitória Gui...,...,63.0,65.0,69.0,64.0,14.0,14.0,10.0,14.0,5.0,€8M
5334,5334,244389,Fernando,19,https://cdn...,Brazil,https://cdn...,70,84,Shakhtar Do...,...,63.0,26.0,27.0,29.0,5.0,9.0,8.0,8.0,7.0,€10.4M
10004,10004,244497,Marquinhos ...,19,https://cdn...,Brazil,https://cdn...,65,81,Shakhtar Do...,...,66.0,24.0,21.0,28.0,12.0,6.0,13.0,14.0,10.0,€3.2M
12975,12975,239334,Paulo Vitor,19,https://cdn...,Brazil,https://cdn...,63,80,Albacete BP,...,56.0,38.0,36.0,31.0,13.0,6.0,15.0,6.0,15.0,€1.8M
13087,13087,244998,Bruno Michel,19,https://cdn...,Brazil,https://cdn...,62,74,Ohod Club,...,57.0,37.0,29.0,25.0,10.0,13.0,8.0,12.0,14.0,€971K
13270,13270,245564,Vinicius,19,https://cdn...,Brazil,https://cdn...,62,77,Bologna,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13539,13539,245639,André Anderson,18,https://cdn...,Brazil,https://cdn...,62,79,US Salernit...,...,55.0,30.0,20.0,15.0,8.0,9.0,9.0,11.0,12.0,NaN
13681,13681,244661,Vitinho,18,https://cdn...,Brazil,https://cdn...,62,76,KSV Cercle ...,...,57.0,55.0,65.0,63.0,11.0,9.0,12.0,9.0,8.0,€1.1M
13787,13787,245717,Lucas Rodri...,18,https://cdn...,Brazil,https://cdn...,62,71,Moreirense FC,...,48.0,22.0,18.0,15.0,11.0,14.0,14.0,9.0,14.0,€978K
14243,14243,243308,Álex Dos Sa...,19,https://cdn...,Brazil,https://cdn...,61,75,Atlético Ma...,...,32.0,12.0,12.0,13.0,64.0,62.0,65.0,59.0,60.0,€1.2M
15765,15765,245990,Fernando Co...,19,https://cdn...,Brazil,https://cdn...,59,74,LOSC Lille,...,37.0,54.0,58.0,57.0,15.0,6.0,5.0,14.0,8.0,€788K
16917,16917,243897,Philippe,18,https://cdn...,Brazil,https://cdn...,56,73,FC Sion,...,47.0,20.0,14.0,12.0,15.0,12.0,12.0,11.0,14.0,€394K
17588,17588,244311,Lucas Ribeiro,19,https://cdn...,Brazil,https://cdn...,53,71,Valencienne...,...,44.0,24.0,27.0,22.0,13.0,14.0,14.0,11.0,13.0,€309K
18170,18170,246447,Nicolas Fir...,17,https://cdn...,Brazil,https://cdn...,48,70,New England...,...,41.0,29.0,32.0,40.0,12.0,8.0,11.0,9.0,12.0,€147K

In [19]:
# dica: ao filtrar pela nacionalidade, utilize aspas diferentes   
promissores = fifa.query('Age > 20 & Nationality == "Brazil"')
promissores.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
2,2,190871,Neymar Jr,26,https://cdn...,Brazil,https://cdn...,92,93,Paris Saint...,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
27,27,200145,Casemiro,26,https://cdn...,Brazil,https://cdn...,88,90,Real Madrid,...,84.0,88.0,90.0,87.0,13.0,14.0,16.0,12.0,12.0,€126.4M
32,32,189242,Coutinho,26,https://cdn...,Brazil,https://cdn...,88,89,FC Barcelona,...,85.0,55.0,54.0,47.0,12.0,7.0,9.0,14.0,6.0,€147.7M
35,35,176676,Marcelo,30,https://cdn...,Brazil,https://cdn...,88,88,Real Madrid,...,86.0,71.0,85.0,86.0,12.0,5.0,5.0,5.0,9.0,€88.2M
39,39,164240,Thiago Silva,33,https://cdn...,Brazil,https://cdn...,88,88,Paris Saint...,...,81.0,88.0,89.0,85.0,9.0,12.0,5.0,9.0,10.0,€44.4M

### 3.2 Filtragem por ILOC

- fifa.iloc[0:5, 5:] → (5ª coluna em diante)
- fifa.iloc[0:5, :5] → (até a 5ª coluna)
- fifa.iloc[0:5, 5] → (somente a 5ª coluna)

In [20]:
# [linhas : colunas] --- o iloc é exclusivo
fifa.iloc[0:5, 0:5]

   Unnamed: 0      ID            Name  Age           Photo
0           0  158023        L. Messi   31  https://cdn...
1           1   20801  Cristiano R...   33  https://cdn...
2           2  190871       Neymar Jr   26  https://cdn...
3           3  193080          De Gea   27  https://cdn...
4           4  192985    K. De Bruyne   27  https://cdn...

In [21]:
#filtragem genérica com iloc
fifa[fifa['GKKicking'] == fifa['GKPositioning']].iloc[:, 85:]

       GKKicking  GKPositioning  GKReflexes Release Clause
2           15.0           15.0        11.0        €228.1M
21          13.0           13.0        10.0          €111M
31           7.0            7.0         6.0        €141.5M
35           5.0            5.0         9.0         €88.2M
55           9.0            9.0        14.0        €125.1M
...          ...            ...         ...            ...
18161        6.0            6.0         7.0           €62K
18163        8.0            8.0        12.0           €94K
18164        9.0            9.0        11.0          €113K
18180       50.0           50.0        45.0           €78K
18200       12.0           12.0        11.0          €143K

[1712 rows x 4 columns]

###

In [22]:
# filtragem com filter
fifa.filter(['Overall', 'Nationality'])

       Overall Nationality
0           94   Argentina
1           94    Portugal
2           92      Brazil
3           91       Spain
4           91     Belgium
...        ...         ...
18202       47     England
18203       47      Sweden
18204       47     England
18205       47     England
18206       46     England

[18207 rows x 2 columns]

In [23]:
# filtragem com isin
df_camp = fifa[fifa['Nationality'].isin(['Brazil', 'Argentina', 'Germany','France', 'Spain', 'Italy'])]
df_camp.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn...,Argentina,https://cdn...,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
2,2,190871,Neymar Jr,26,https://cdn...,Brazil,https://cdn...,92,93,Paris Saint...,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn...,Spain,https://cdn...,91,93,Manchester ...,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
8,8,155862,Sergio Ramos,32,https://cdn...,Spain,https://cdn...,91,91,Real Madrid,...,82.0,87.0,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M
11,11,182521,T. Kroos,28,https://cdn...,Germany,https://cdn...,90,90,Real Madrid,...,85.0,72.0,79.0,69.0,10.0,11.0,13.0,7.0,10.0,€156.8M

In [24]:
# utilizamos o "~" para retornar os valores contrarios da filtragem original
df_ncamp = fifa[~fifa['Nationality'].isin(['Brazil', 'Argentina', 'Germany','France', 'Spain', 'Italy'])]
df_ncamp.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
1,1,20801,Cristiano R...,33,https://cdn...,Portugal,https://cdn...,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
4,4,192985,K. De Bruyne,27,https://cdn...,Belgium,https://cdn...,91,92,Manchester ...,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
5,5,183277,E. Hazard,27,https://cdn...,Belgium,https://cdn...,91,91,Chelsea,...,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M
6,6,177003,L. Modrić,32,https://cdn...,Croatia,https://cdn...,91,91,Real Madrid,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M
7,7,176580,L. Suárez,31,https://cdn...,Uruguay,https://cdn...,91,91,FC Barcelona,...,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M

In [25]:
# filtragem por tipagem
filtro = ['int64', 'float64']
fifa.select_dtypes(include= filtro)

,Unnamed: 0,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,158023,31,94,94,2202,5.0,4.0,4.0,10.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,1,20801,33,94,94,2228,5.0,4.0,5.0,7.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,2,190871,26,92,93,2143,5.0,5.0,5.0,10.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,3,193080,27,91,93,1471,4.0,3.0,1.0,1.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,4,192985,27,91,92,2281,4.0,5.0,4.0,7.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,18202,238813,19,47,65,1307,1.0,2.0,2.0,22.0,...,43.0,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0
18203,18203,243165,19,47,63,1098,1.0,2.0,2.0,21.0,...,43.0,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0
18204,18204,241638,16,47,67,1189,1.0,3.0,2.0,33.0,...,55.0,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0
18205,18205,246268,17,47,66,1228,1.0,3.0,2.0,34.0,...,50.0,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0
18206,18206,246269,16,46,66,1321,1.0,3.0,2.0,33.0,...,33.0,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0

In [26]:
# filtrando os tipos excluindo o filtro anterior
filtro = ['int64', 'float64']
fifa.select_dtypes(exclude=filtro)

,Name,Photo,Nationality,Flag,Club,Club Logo,Value,Wage,Preferred Foot,Work Rate,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,Release Clause
0,L. Messi,https://cdn...,Argentina,https://cdn...,FC Barcelona,https://cdn...,€110.5M,€565K,Left,Medium/ Medium,...,61+2,61+2,61+2,64+2,59+2,47+2,47+2,47+2,59+2,€226.5M
1,Cristiano R...,https://cdn...,Portugal,https://cdn...,Juventus,https://cdn...,€77M,€405K,Right,High/ Low,...,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3,€127.1M
2,Neymar Jr,https://cdn...,Brazil,https://cdn...,Paris Saint...,https://cdn...,€118.5M,€290K,Right,High/ Medium,...,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3,€228.1M
3,De Gea,https://cdn...,Spain,https://cdn...,Manchester ...,https://cdn...,€72M,€260K,Right,Medium/ Medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,€138.6M
4,K. De Bruyne,https://cdn...,Belgium,https://cdn...,Manchester ...,https://cdn...,€102M,€355K,Right,High/ High,...,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,J. Lundstram,https://cdn...,England,https://cdn...,Crewe Alexa...,https://cdn...,€60K,€1K,Right,Medium/ Medium,...,45+2,45+2,45+2,44+2,45+2,45+2,45+2,45+2,45+2,€143K
18203,N. Christof...,https://cdn...,Sweden,https://cdn...,Trelleborgs FF,https://cdn...,€60K,€1K,Right,Medium/ Medium,...,31+2,31+2,31+2,30+2,29+2,32+2,32+2,32+2,29+2,€113K
18204,B. Worman,https://cdn...,England,https://cdn...,Cambridge U...,https://cdn...,€60K,€1K,Right,Medium/ Medium,...,30+2,30+2,30+2,34+2,33+2,28+2,28+2,28+2,33+2,€165K
18205,D. Walker-Rice,https://cdn...,England,https://cdn...,Tranmere Ro...,https://cdn...,€60K,€1K,Right,Medium/ Medium,...,32+2,32+2,32+2,36+2,35+2,31+2,31+2,31+2,35+2,€143K
18206,G. Nugent,https://cdn...,England,https://cdn...,Tranmere Ro...,https://cdn...,€60K,€1K,Right,Medium/ Medium,...,46+2,46+2,46+2,46+2,46+2,47+2,47+2,47+2,46+2,€165K

In [27]:
# ordenando na ordem decrescente
fifa.sort_values(by= ['Overall','Release Clause'], ascending=False).head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn...,Argentina,https://cdn...,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano R...,33,https://cdn...,Portugal,https://cdn...,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn...,Brazil,https://cdn...,92,93,Paris Saint...,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
4,4,192985,K. De Bruyne,27,https://cdn...,Belgium,https://cdn...,91,92,Manchester ...,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
5,5,183277,E. Hazard,27,https://cdn...,Belgium,https://cdn...,91,91,Chelsea,...,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M

## 4. Estatistica descritiva
- https://pandas.pydata.org/pandas-docs/version/1.4/reference/api/pandas.DataFrame.describe.html

In [28]:
# resumo estatistico
fifa.describe()

,Unnamed: 0,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18159.000000,18159.000000,18159.000000,18147.000000,...,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000
mean,9103.000000,214298.338606,25.122206,66.238699,71.307299,1597.809908,1.113222,2.947299,2.361308,19.546096,...,48.548598,58.648274,47.281623,47.697836,45.661435,16.616223,16.391596,16.232061,16.388898,16.710887
std,5256.052511,29965.244204,4.669943,6.908930,6.136496,272.586016,0.394031,0.660456,0.756164,15.947765,...,15.704053,11.436133,19.904397,21.664004,21.289135,17.695349,16.906900,16.502864,17.034669,17.955119
min,0.000000,16.000000,16.000000,46.000000,48.000000,731.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4551.500000,200315.500000,21.000000,62.000000,67.000000,1457.000000,1.000000,3.000000,2.000000,8.000000,...,39.000000,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,9103.000000,221759.000000,25.000000,66.000000,71.000000,1635.000000,1.000000,3.000000,2.000000,17.000000,...,49.000000,60.000000,53.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,13654.500000,236529.500000,28.000000,71.000000,75.000000,1787.000000,1.000000,3.000000,3.000000,26.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,18206.000000,246620.000000,45.000000,94.000000,95.000000,2346.000000,5.000000,5.000000,5.000000,99.000000,...,92.000000,96.000000,94.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [29]:
# estatistica com o percentil alterado (vai de 0 a 1 e fica dentro de uma lista)
fifa['Age'].describe(percentiles=[0.1, 0.5, 0.9])

count    18207.000000
mean        25.122206
std          4.669943
min         16.000000
10%         19.000000
50%         25.000000
90%         32.000000
max         45.000000
Name: Age, dtype: float64

In [30]:
# agregando com calculo estatistico
fifa.agg({'Age': ['min', 'max','mean'],
                'Overall': ['min', 'max','mean']})

            Age    Overall
min   16.000000  46.000000
max   45.000000  94.000000
mean  25.122206  66.238699

In [31]:
fifa.groupby('Nationality')['Age','Overall'].mean().sort_values(by='Overall',ascending=False)

C:\Users\gusta\AppData\Local\Temp\ipykernel_15840\325171776.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  fifa.groupby('Nationality')['Age','Overall'].mean().sort_values(by='Overall',ascending=False)

                       Age    Overall
Nationality
United Arab ...  26.000000  77.000000
Central Afri...  25.666667  73.333333
Israel           28.214286  72.142857
Dominican Re...  23.000000  72.000000
São Tomé & P...  31.000000  72.000000
...                    ...        ...
South Sudan      25.000000  60.000000
China PR         26.084184  59.910714
India            24.933333  58.666667
Botswana         20.000000  56.000000
Indonesia        17.000000  56.000000

[164 rows x 2 columns]

- Pivot_table: https://pandas.pydata.org/pandas-docs/version/1.4/reference/api/pandas.DataFrame.pivot_table.html

In [32]:
# consultado o dataframe dos campeões que foi criado
df_camp.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn...,Argentina,https://cdn...,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
2,2,190871,Neymar Jr,26,https://cdn...,Brazil,https://cdn...,92,93,Paris Saint...,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn...,Spain,https://cdn...,91,93,Manchester ...,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
8,8,155862,Sergio Ramos,32,https://cdn...,Spain,https://cdn...,91,91,Real Madrid,...,82.0,87.0,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M
11,11,182521,T. Kroos,28,https://cdn...,Germany,https://cdn...,90,90,Real Madrid,...,85.0,72.0,79.0,69.0,10.0,11.0,13.0,7.0,10.0,€156.8M

In [33]:
# tabela dinamica com agregação e ordenação
import numpy as np 
pd.pivot_table(df_camp, index='Nationality', aggfunc=np.mean).sort_values(by='Age', ascending=False)

,Acceleration,Age,Aggression,Agility,Balance,BallControl,Composure,Crossing,Curve,Dribbling,...,SlidingTackle,Special,SprintSpeed,Stamina,StandingTackle,Strength,Unnamed: 0,Vision,Volleys,Weak Foot
Nationality,,,,,,,,,,,,,,,,,,,,,
Brazil,66.318788,27.625151,59.972121,65.201212,63.966061,63.841212,65.241212,54.699394,53.403636,60.850909,...,48.981818,1712.134220,66.701818,65.675152,51.284848,67.263030,5141.252721,58.113939,49.918788,2.945455
Argentina,64.625000,26.205977,56.725427,64.193376,64.376068,60.808761,60.452991,51.319444,48.883547,58.068376,...,46.340812,1639.410886,64.318376,64.162393,47.970085,65.561966,7285.958378,54.862179,44.863248,2.870726
Italy,63.167382,25.928775,55.429185,63.065808,62.858369,59.224607,62.530758,49.763948,47.859800,55.350501,...,46.669528,1604.572650,63.341917,62.426323,48.359084,65.114449,7621.792023,51.652361,44.390558,2.846924
Spain,63.587302,25.325560,56.439776,63.982260,64.534080,62.894491,60.669468,54.374416,52.673203,58.122316,...,48.222222,1664.870336,63.435107,63.236228,50.450047,64.000934,6631.419776,57.084967,44.512605,3.004669
France,64.524698,24.615974,56.958288,62.819978,63.919868,59.787047,60.586169,51.739846,47.963776,56.736553,...,48.156970,1624.257112,64.714599,62.648738,50.047201,66.480790,8075.863239,54.236004,43.468716,2.915477
Germany,63.287029,24.338063,55.931381,62.354812,61.830126,56.675314,56.370711,48.337238,45.133054,53.167364,...,45.204184,1566.782972,63.690377,62.600000,47.620084,66.953975,9392.902337,51.120502,41.038494,3.133891

In [34]:
# agregando apenas soclunas específicas
pd.pivot_table(df_camp, index='Nationality', aggfunc=np.mean, 
               values=['Age', 'Dribbling', 'Aggression', 'Agility'])

                   Age  Aggression    Agility  Dribbling
Nationality
Argentina    26.205977   56.725427  64.193376  58.068376
Brazil       27.625151   59.972121  65.201212  60.850909
France       24.615974   56.958288  62.819978  56.736553
Germany      24.338063   55.931381  62.354812  53.167364
Italy        25.928775   55.429185  63.065808  55.350501
Spain        25.325560   56.439776  63.982260  58.122316

* Para exportar a tabela para excel, note que existe diferença em: 'index=True' e 'Index=False' nesse exemplo abaixo, visto que a nacionalidade e posição foram adicionadas e fazem parte da agregação

* Caso queira exportar a tabela para excel, baixe o pacote <b>'openpyxl'

In [35]:
pd.pivot_table(df_camp, index=['Nationality', 'Position'], 
                aggfunc=np.mean, values=['Age', 'Dribbling', 
                'Aggression', 'Agility']).to_excel('tabela_din.xlsx', index=True)

In [36]:
df_camp.Nationality.value_counts()

Germany      1198
Spain        1072
Argentina     937
France        914
Brazil        827
Italy         702
Name: Nationality, dtype: int64

In [37]:
df_camp.Nationality.value_counts(normalize=True) # exibindo em porcentagem

Germany      0.212035
Spain        0.189735
Argentina    0.165841
France       0.161770
Brazil       0.146372
Italy        0.124248
Name: Nationality, dtype: float64

## SQL no pandas
- Pandasql: https://pypi.org/project/pandasql/
- Modin: https://modin.readthedocs.io/en/stable/

In [38]:
!pip install modin
!pip install pandasql
import pandasql as ps
import modin.pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: modin in c:\users\gusta\appdata\roaming\python\python310\site-packages (0.17.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\gusta\appdata\roaming\python\python310\site-packages (from modin) (1.23.5)
Requirement already satisfied: packaging in c:\users\gusta\appdata\roaming\python\python310\site-packages (from modin) (21.3)
Requirement already satisfied: pandas==1.5.2 in c:\users\gusta\appdata\roaming\python\python310\site-packages (from modin) (1.5.2)
Requirement already satisfied: fsspec in c:\users\gusta\appdata\roaming\python\python310\site-packages (from modin) (2022.11.0)
Requirement already satisfied: psutil in c:\users\gusta\appdata\roaming\python\python310\site-packages (from modin) (5.9.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\gusta\appdata\roaming\python\python310\site-packages (from pandas==1.5.2->modin) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\gusta\appdata\roaming\python\python310\site-packages (from pandas==1.5.2->modin) (2.8.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\gusta\appdata\roaming\python\python310\site-packages (from packaging->modin) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\gusta\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas==1.5.2->modin) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandasql in c:\users\gusta\appdata\roaming\python\python310\site-packages (0.7.3)
Requirement already satisfied: numpy in c:\users\gusta\appdata\roaming\python\python310\site-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in c:\users\gusta\appdata\roaming\python\python310\site-packages (from pandasql) (1.5.2)
Requirement already satisfied: sqlalchemy in c:\users\gusta\appdata\roaming\python\python310\site-packages (from pandasql) (1.4.45)
Requirement already satisfied: pytz>=2020.1 in c:\users\gusta\appdata\roaming\python\python310\site-packages (from pandas->pandasql) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\gusta\appdata\roaming\python\python310\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\gusta\appdata\roaming\python\python310\site-packages (from sqlalchemy->pandasql) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\gusta\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)

ModuleNotFoundError: No module named 'pandasql'

In [ ]:
query = """
select Name, Age, Position
from fifa
where Age > 35
"""

In [ ]:
ps.sqldf(query, locals())

# Parte 2: Curso rápido completo de Pandas - Parte 2

In [39]:
# importando novamente o código para não utilizar a biblioteca "modin"
import pandas as pd

In [40]:
df_null = fifa[['ID', 'Name', 'LCB', 'LB']].head(10)
df_null

       ID            Name   LCB    LB
0  158023        L. Messi  47+2  59+2
1   20801  Cristiano R...  53+3  61+3
2  190871       Neymar Jr  47+3  60+3
3  193080          De Gea   NaN   NaN
4  192985    K. De Bruyne  66+3  73+3
5  183277       E. Hazard  49+3  60+3
6  177003       L. Modrić  71+3  79+3
7  176580       L. Suárez  63+5  66+5
8  155862    Sergio Ramos  87+3  84+3
9  200389        J. Oblak   NaN   NaN

In [41]:
# valor nulo (resposta em bool)
df_null.isna().sum()

ID      0
Name    0
LCB     2
LB      2
dtype: int64

In [42]:
df_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      10 non-null     int64
 1   Name    10 non-null     object
 2   LCB     8 non-null      object
 3   LB      8 non-null      object
dtypes: int64(1), object(3)
memory usage: 448.0+ bytes

In [43]:
# filtrando os valores nulos
df_null[pd.isna(df_null['LCB'])]

       ID      Name  LCB   LB
3  193080    De Gea  NaN  NaN
9  200389  J. Oblak  NaN  NaN

In [44]:
# inserindo valor onde ele anteriormente era missing
df_null.fillna('0')

       ID            Name   LCB    LB
0  158023        L. Messi  47+2  59+2
1   20801  Cristiano R...  53+3  61+3
2  190871       Neymar Jr  47+3  60+3
3  193080          De Gea     0     0
4  192985    K. De Bruyne  66+3  73+3
5  183277       E. Hazard  49+3  60+3
6  177003       L. Modrić  71+3  79+3
7  176580       L. Suárez  63+5  66+5
8  155862    Sergio Ramos  87+3  84+3
9  200389        J. Oblak     0     0

In [45]:
# preenchendo os missings de acordo com a coluna com dicionário
values = {'LCB': '0', 'LB': '99999'}
df_null.fillna( value = values)

       ID            Name   LCB     LB
0  158023        L. Messi  47+2   59+2
1   20801  Cristiano R...  53+3   61+3
2  190871       Neymar Jr  47+3   60+3
3  193080          De Gea     0  99999
4  192985    K. De Bruyne  66+3   73+3
5  183277       E. Hazard  49+3   60+3
6  177003       L. Modrić  71+3   79+3
7  176580       L. Suárez  63+5   66+5
8  155862    Sergio Ramos  87+3   84+3
9  200389        J. Oblak     0  99999

In [46]:
# note que não houve substituição de acordo com a célula anterior
df_null

       ID            Name   LCB    LB
0  158023        L. Messi  47+2  59+2
1   20801  Cristiano R...  53+3  61+3
2  190871       Neymar Jr  47+3  60+3
3  193080          De Gea   NaN   NaN
4  192985    K. De Bruyne  66+3  73+3
5  183277       E. Hazard  49+3  60+3
6  177003       L. Modrić  71+3  79+3
7  176580       L. Suárez  63+5  66+5
8  155862    Sergio Ramos  87+3  84+3
9  200389        J. Oblak   NaN   NaN

In [47]:
# excluindo os valores nulos
df_null.dropna(subset=['LCB'])

       ID            Name   LCB    LB
0  158023        L. Messi  47+2  59+2
1   20801  Cristiano R...  53+3  61+3
2  190871       Neymar Jr  47+3  60+3
4  192985    K. De Bruyne  66+3  73+3
5  183277       E. Hazard  49+3  60+3
6  177003       L. Modrić  71+3  79+3
7  176580       L. Suárez  63+5  66+5
8  155862    Sergio Ramos  87+3  84+3